python-dotenv==0.21.0
pandas==2.2.2
plotly==5.24.1
transformers
torch  # PyTorch without specifying CUDA here; installed manually later
optuna==4.0.0
jupyterlab==4.2.5
ipywidgets==8.1.2
scikit-learn==1.5.1
matplotlib==3.9.2
seaborn==0.13.2
nltk==3.9.1
spacy==3.7.2
tqdm==4.66.5
flake8==6.1.0
datasets
evaluate==0.4.3
openai==1.46.0
langchain==0.3.0
sentence-transformers==3.1.0
python-docx==1.1.2
python-dateutil==2.9.0

